body {
  margin: 0;
  width: 100%;
}
.profile-img {
  display: flex;
  text-align: left;
}
.favRecipes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.favRecipe-img {
  width: 200px;
}
.buttons-container {
  display: flex;
  flex-direction: row;
}
.buttons {
  align-items: center;
  border-radius: 100%;
  height: 70px;
  margin: 5px;
  width: 70px;
}
.card-container {
  align-items: center;
  margin-top: 15px;
}
.card-doneRecipes {
  align-items: center;
  border: 2px solid lightgrey;
  display: flex;
  flex-direction: row;
  height: 300px;
  margin-top: 5px;
  text-align: center;
  width: 360px;
}
.card-favorite-text {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.shareIcon {
  all: unset;
}