.tela {
  align-items: center;
  background: rgb(43, 50, 68);
  background-image: url('https://images.pexels.com/photos/10422319/pexels-photo-10422319.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
}

.imagem {
  filter: blur(2px);
  height: 100vh;
}

.meals {
  z-index: 2;
}

.elementosLogin {
  align-items: center;
  background-color: rgb(225, 226, 228);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 240px;
}

.email {
  all: unset;
  border-bottom: 1px solid black;
}

.password {
  all: unset;
  border-bottom: 1px solid black;
}

.button {
  background-color: rgb(234, 30, 99);
  border-radius: 10px;
  width: 240px;
}


/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.footer {
  bottom: 0;
  position: fixed;
}

.ingredient-checkbox:checked + * {
  text-decoration: line-through solid black;
}
